project_id          = "my-gcp-project-id"
region              = "europe-west2"
bucket_name         = "uk-flight-punctuality-raw-data-lake"
dataset_id          = "flight_data"
service_name        = "uk-flight-ingest-service"
scheduler_job_name  = "uk-flight-ingest-monthly-scheduler"
scheduler_cron      = "0 6 1 * *"
scheduler_time_zone = "Europe/London"
container_image     = "europe-west2-docker.pkg.dev/my-gcp-project-id/uk-flight-punctuality/uk-flight-ingest:latest"
